<header class="site-header">
  <span class="site-dot" aria-hidden="true"></span>
  <h3 class="site-title">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </h3>
  <nav class="menu-list">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}" class="menu-link">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <div class="dropdown">
    <button class="dropbtn" aria-label="menu"><span aria-hidden="true">menu</span></button>
    <div class="dropdown-content">
      {% for item in site.data.settings.menu %}
        <a href="{{ site.github.url }}/{{ item.url }}" class="menu-link">{{ item.name }}</a>
      {% endfor %}
    </div>
  </div>
</header>
