<head>
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.description }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  {% if page.noindex %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}
  <link rel="icon" type="image/svg+xml" href="{{ site.github.url }}/assets/img/site-icon.svg">
  <link rel="apple-touch-icon" href="{{ site.github.url }}/assets/img/site-icon.png">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/img/site-icon.svg">
  <meta property="og:image" content="{{ site.github.url }}/assets/img/site-thumbnail.png">
  <meta name="twitter:image" content="{{ site.github.url }}/assets/img/site-thumbnail.png">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/syntax.css">
  {% feed_meta %}
  {% seo %}
</head>
