<!doctype html>
<html lang="{{ page.lang | default: 'en' }}">
  {% include head.html %}
  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
    <div class="container">
      {% unless page.body_class == "admin-page" %}
        {% include header.html %}
      {% endunless %}
      <main class="content-wrapper" id="main-content">
        {{ content }}
      </main>
      {% unless page.body_class == "admin-page" %}
        {% include footer.html %}
      {% endunless %}
    </div>
  </body>
</html>
